<div class="navbar">
    
    <div class="logo" routerLink="">
        <img src="assets\logoKaleidoScope.png" alt="Logo" class="logoImg">
        <div>KaleidoScope</div>   
    </div>
    <div routerLink="search" class="search-bar">
        <app-search-bar></app-search-bar>
    </div>
    <div class="buttons">
            @if(auth.isAuthenticated$ | async){
                <button  (click)="auth.logout()">Logout</button>
                <img class="profile" [src]="profile?.picture" alt="{{ profile?.name }}">
            } 
            @else {
                <button (click)="auth.loginWithRedirect()">Login</button>
            }
        
    </div>
    
</div>

