div {
    background-color: #F6EDDE;
    height: 100%;
}

app-menu{
    display: flex;
    flex-direction: column;
}

.menu-option{
    color: 205A8C;
    height: 10vh;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.menu-option:hover{
    background-color: #205A8C;
    color: #F2A0A0;
    cursor: pointer;
}