.flex{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: space-around;
}

.grid{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: space-evenly;
}

h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-weight: 500;
}