
<div class="flex-column">
    <youtube-player videoId="{{videoId}}"
        [playerVars]="{
        autoplay: 1,
        controls: 1,
        rel: 0,
        modestbranding: 0,
        iv_load_policy: 3,
        fs: 1,
        }"
        [height]="500"
        [width]="800">
    </youtube-player>
    <div class="buttons"></div>
    <h3>{{video.title}}</h3>
    <h4>{{video.views}} Visualizações</h4>
    <div class="description">
        <h4>Descrição:</h4>
        <p>{{video.description}}</p>
        <p>Publicado em: {{video.uploadedAt}}</p>
    </div>
</div>
